{% extends "_layout.twig" %}

{% block title %}Connexion{% endblock %}


{% block main %}
  <form action="{{ route('sign-in') }}" method="POST">
    <div>
      <label for="username_or_email">Nom d'utilisateur ou adresse email</label>
      <input type="text" id="username_or_email" name="username_or_email" value="{{ app.formData.username_or_email }}" required />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" value="{{ app.formData.password }}" required />
    </div>
    <div>
      <button type="submit">Connexion</button>
    </div>
  </form>

  <p>Pas encore de compte ? <a href="{{ route('sign-up') }}">S'inscire</a></p>
{% endblock %}