extends /_layout.pug

block vars
  - const title = "Inscription"

block main
  form(method="POST" action=app.route("sign-up"))
    div
      label(for="username") Nom d'utilisateur
      input(type="text" id="username" name="username" value=app.formData["username"] required="")
    div
      label(for="email") Email
      input(type="email" id="email" name="email" value=app.formData["email"] required="")
    div
      label(for="password1") Mot de passe
      input(type="password" id="password1" name="password1" required="")
    div
      label(for="password2") Confirmer mot de passe
      input(type="password" id="password2" name="password2" required="")
    div
      button(type="submit") Inscription

  div
    span(class="d-inline-block me-1") Déjà un compte ?
    span
      a(href=app.route("sign-in")) Se connecter.