extends /_layout.pug

block vars
  - const title = "Connexion"

block main
  form(method="POST" action=app.route("sign-in"))
    div
      label(for="email") Email
      input(type="email" id="email" name="email" value=app.formData["email"] required="")
    div
      label(for="password") Mot de passe
      input(type="password" id="password" name="password" required="")
    div
      button(type="submit") Connexion
  
  div
    span(class="d-inline-block me-1") Pas encore de compte ?
    span
      a(href=app.route("sign-up")) S'inscrire.