{% extends "_layout.twig" %}

{% block title %}Inscription{% endblock %}

{% block main %}
  <form action="{{ route('sign-up') }}" method="POST">
    <div>
      <label for="username">Nom d'utilisateur</label>
      <input type="text" id="username" name="username" value="{{ app.formData.username }}" required />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{ app.formData.email }}" required />
    </div>
    <div>
      <label for="password1">Mot de passe</label>
      <input type="password" id="password1" name="password1" required />
    </div>
    <div>
      <label for="password2">Confirmer mot de passe</label>
      <input type="password" id="password2" name="password2" required />
    </div>
    <div>
      <button type="submit">Connexion</button>
    </div>
  </form>

  <p>Déjà un compte ? <a href="{{ route('sign-in') }}">Se connecter.</a></p>
{% endblock %}