{% extends "__layouts/public.layout.twig" %}

{% block title %}Inscription{% endblock %}

{% block main %}
  <form action="{{ route('sign-up') }}" method="POST">
    <div>
      <label for="username">Nom d'utilisateur</label>
      <input
        type="text"
        id="username"
        name="username"
        minlength="5"
        maxlength="50"
        autocomplete="username"
        value="{{ app.formData.username }}"
        required
      />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{ app.formData.email }}"
        required
      />
    </div>
    <div>
      <label for="password1">Mot de passe</label>
      <input
        type="password"
        id="password1"
        name="password1"
        minlength="8"
        maxlength="30"
        title="Entre 8 et 30 caractères. Au moins une minuscule, une majuscule et un chiffre."
        required
      />
    </div>
    <div>
      <label for="password2">Confirmer mot de passe</label>
      <input
        type="password"
        id="password2"
        name="password2"
        minlength="8"
        maxlength="30"
        required
      />
    </div>
    <div>
      <button type="submit">Connexion</button>
    </div>
  </form>

  <p>Déjà un compte ? <a href="{{ route('sign-in') }}">Se connecter.</a></p>
{% endblock %}