{% extends "__layouts/admin.layout.twig" %}

{% block title %}Accueil{% endblock %}

{% block main %}
  <a href="{{ route('admin-users-list') }}">Liste des utilisateurs</a>
  <a href="{{ route('admin-products-list') }}">Liste des articles</a>
{% endblock %}