extends /_layout.pug

block vars
  - const title = "Catégories"

block main
  if categories.length
    each category in categories
      div
        a(href=`/categories/${category.name}`)=category.name