h1 Bonjour, #{username}

p Bienvenue sur PIPOT !
p Ci-dessous le lien pour activer votre compte :
div(style="text-align: center;")
  a(href=`http://localhost:5000/${link}`) Activer le compte

div(style="text-align: end;")
  div Bon Troc !
  div L'équipe PIPOT