<h1>Bonjour, {{ username }}</h1>

<div>
  <p>Bienvenue sur PIPOT !</p>
  <p>Veuillez suivre <a href="{{ link }}">ce lien</a> pour activer votre compte.</p>
</div>

<div style="text-align: end;">
  <div>Bon troc,</div>
  <div>L'équipe PIPOT</div>
</div>