header
  .top
    h1 PIPOT
  .bottom
    nav
      ul
        li
          a(href=app.route("home")) Accueil
        li
          if app.user
            a(href=app.route("profile-home", {username: app.user.username})) Mon profil
          else
            a(href=app.route("sign-in")) Connexion / Inscription