<header>
  <section class="top">
    <h1>PIPOT</h1>
  </section>
  <section class="bottom">
    <nav>
      <ul>
        <li><a href="{{ route('home') }}">Accueil</a></li>
        <li><a href="{{ route('categories') }}">Catégories</a></li>
        {% if app.user %}
          <li><a href="{{ route('profile-home', {username: app.user.username}) }}">Mon profil</a></li>
        {% else %}
          <li><a href="{{ route('sign-in') }}">Connexion / Inscription</a></li>
        {% endif %}
      </ul>
    </nav>
  </section>
</header>